* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

body {
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
  color: #784082;
}

a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}

header {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(bottom, #587398 0%, #BECBDF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(bottom, #587398 0%, #BECBDF 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(bottom, #587398 0%, #BECBDF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #587398), color-stop(1, #BECBDF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(bottom, #587398 0%, #BECBDF 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to top, #587398 0%, #BECBDF 100%);

  position: fixed;
  height: 44px;
  width: 100%;
  top: 0;
  z-index: 3;

  box-shadow: 1px -2px 6px #000;
}

/*** 
 * Header icons 
 */
.header-left-wrapper {
  height: 100%;
  width: 30%;
  float: left;
}

.header-middle-wrapper {
  height: 100%;
  width: 40%;
  float: left;
}

.header-right-wrapper {
  height: 100%;
  width: 30%;
  float: left;
  text-align: right;
}

.header-title {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 -1px 0 #000;
  line-height: 42px;
}

/*** 
* design of the page form include text format 
*/

.animated {
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.content {
  background-image: url(../../img/backgrounds/background.png);
  display: block;
  margin: 0;
  font-size: .7em;
  color: #4C4C4C;
  line-height: 1.5em;
  position: relative;
  margin-top: 40px;
  margin-bottom: 55px;
  z-index: 2;
  min-height: 480px;
  box-shadow: 0 1px 5px #666;
}


/* all the footer buttons with hover */
footer {
  background: #2f2f2f; /* Old browsers */
  background: -moz-linear-gradient(top,  #2f2f2f 0%, #151515 50%, #000000 50%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2f2f), color-stop(50%,#151515), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2f2f2f 0%,#151515 50%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2f2f2f 0%,#151515 50%,#000000 50%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2f2f2f 0%,#151515 50%,#000000 50%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2f2f2f 0%,#151515 50%,#000000 50%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


  box-shadow: 0 0 3px 1px #333;
  position: fixed;

  height: 55px;
  bottom: 0;
  width: 100%;

  z-index: 3;
}

.footer-wrapper {
  display: block;
  box-sizing: border-box;
  border: none;
  height: 100%;
  padding: 8px 0 0 0;
  float: left;
  background: transparent;  
}

.footer-left-wrapper {
  box-sizing: border-box;
  padding: 5px;
  width: 32%;
}

.footer-middle-wrapper {
  box-sizing: border-box;
  padding: 5px;
  width: 36%;
}

.footer-right-wrapper {
  box-sizing: border-box;
  padding: 5px;
  width: 32%;
}

.footer-left-wrapper .footer-tab-wrapper:active,
.footer-middle-wrapper .footer-tab-wrapper:active,
.footer-right-wrapper .footer-tab-wrapper:active {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
}

.footer-tab-icon {
  text-align: center;
}

.footer-tab-text {
  display: block;
  margin-top: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  font-weight: bold;
  color: #FFFFFF;
}

.menu {
  background-image: url(../../img/backgrounds/stripes.png);
  
  position: fixed;
  top: 40px;
  right: 0;
  bottom: 0;
  width: 80%;

  z-index: 1;

  padding-top: 20px;
}

.open {
  -webkit-transform: translate3d(-80%,0,0);
  -moz-transform: translate3d(-80%,0,0);
  -ms-transform: translate3d(-80%,0,0);
  -o-transform: translate3d(-80%,0,0);
  transform: translate3d(-80%,0,0);
}

.centerlized {
  text-align: center;
}

.iphone-btn {
  border: 1px solid rgba(0,0,0, 0.4);
  -webkit-border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa));
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);

  margin: 8px;
  width: 36px;
  height: 28px;
  vertical-align: middle;
}