<a class="footer-wrapper footer-left-wrapper" href="#!/tab1" >
	<div class="footer-tab-wrapper">
	    <div class="footer-tab-icon">
	    	<i class="icon-heart icon-white"></i>
	    </div>
	    <span class="footer-tab-text">First Tab</span>
    </div>
</a>

<a class="footer-wrapper footer-middle-wrapper" href="#!/tab2">
	<div class="footer-tab-wrapper">
	    <div class="footer-tab-icon">
	    	<i class="icon-heart icon-white"></i>
	    </div>
	    <span class="footer-tab-text">Second Tab</span>
    </div>
</a>

<a class="footer-wrapper footer-right-wrapper" href="#!/tab3" >
	<div class="footer-tab-wrapper">
	    <div class="footer-tab-icon">
	    	<i class="icon-heart icon-white"></i>
	    </div>             
	    <span class="footer-tab-text">Third Tab</span>
    </div>                
</a>
